<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Rig</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Rig Name</label>
        <input class="form-control" th:field="${rig.name}" />
        <span th:errors="${rig.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Rig Description</label>
        <input class="form-control" th:field="${rig.description}" />
        <span th:errors="${rig.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Rig" />
</form>

</body>
</html>