<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Rig: ' + rig.name}">Rig</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + rig.name}"></p>
    <p th:text="${'Description: ' + rig.description}"></p>
    <p> Tasks:
        <ul>
            <li th:each="rig : ${rig.tasks}">
                <a th:href="@{'/view/' + ${rig.id}}" th:text="${rig.name}"></a>
            </li>
        </ul>
    </p>
</div>