<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>

<body>
    <form method = 'post' style="max-width:600px">
        <div class="form-group">
            <label class="form-control">Username:</label>
            <input type = 'text' name = 'username' th:field="${registerDTO.username}"/>
        </div>

        <div class="form-group">
            <label class="form-control">Email:</label>
            <input type = 'email' name = 'email' th:field="${registerDTO.email}"/>
        </div>

        <div class="form-group">
            <label class="form-control">Password:</label>
            <input type = 'password' name = 'password' th:field="${registerDTO.password}"/>
        </div>

        <div class="form-group">
            <label class="form-control">Verify Password:</label>
            <input type = 'password' name = 'verify' th:field="${registerDTO.verifyPassword}"/>
        </div>

        <p th:text="${error}">Please fill in all fields</p>

        <input type='submit' value = 'Sign Up'/>

    </form>

    <a th:href="@{../}"><button>Return to Login</button></a>
</body>
</html>