<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/functionalLogin.css" th:href="@{/css/functionalLogin.css}" rel="stylesheet" />
    <title>Log In</title>
</head>

<body>

<button onclick="document.getElementById('id01').style.display='block'">Login</button>
<a th:href="@{/user/add}"><button>Add User</button></a>

    <div class="imgcontainer">
        <img src="../images/logo.png" alt="Avatar" class="avatar">
    </div>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
        class="close" title="Close Modal">&times;</span>

    <form method = 'post' class="modal-content animate">

        <div class="container">
            <label th:for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" th:field="${loginDTO.username}" required>

            <label th:for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" th:field="${loginDTO.password}" required>

            <button type="submit">Login</button>
<!--            <input type="submit" value="Login"/>-->
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>

    </form>
</div>

</body>