<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments2 :: head"></head>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<body>
<div th:replace="fragments :: page-header"></div>

<!--<div class="ui container">-->
<!--    <div class="ui menu">-->
<!--        <div class="header item">Brand</div>-->
<!--        <a class="active item">Link</a>-->
<!--        <a class="item">Link</a>-->
<!--        <div class="ui dropdown item">-->
<!--            Dropdown-->
<!--            <i class="dropdown icon"></i>-->
<!--            <div class="menu">-->
<!--                <div class="item">Action</div>-->
<!--                <div class="item">Another Action</div>-->
<!--                <div class="item">Something else here</div>-->
<!--                <div class="divider"></div>-->
<!--                <div class="item">Separated Link</div>-->
<!--                <div class="divider"></div>-->
<!--                <div class="item">One more separated link</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="right menu">-->
<!--            <div class="item">-->
<!--                <div class="ui action left icon input">-->
<!--                    <i class="search icon"></i>-->
<!--                    <input type="text" placeholder="Search">-->
<!--                    <button class="ui button">Submit</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <a class="item">Link</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<table style="margin-top:50px">
    <tr>
        <th class="day-name">Sun</th>
        <th class="day-name">Mon</th>
        <th class="day-name">Tue</th>
        <th class="day-name">Wed</th>
        <th class="day-name">Thu</th>
        <th class="day-name">Fri</th>
        <th class="day-name">Sat</th>
<!--        .day-name { color: #FFF; background-color: rgba(0,0,0,.25) !important; }-->
    </tr>
    <tr>
        <td class="day number" th:each="date1 : ${week1dates}" >
            <span class="number" th:text ="${date1.value}"></span>
            <span class="event"></span>
        </td>
    </tr>
    <tr>
        <td class="day" th:each="date2 : ${week2dates}">
            <span class="number" th:text ="${date2.value}"></span>
        </td>
    </tr>
    <tr>
        <td class="day" th:each="date3 : ${week3dates}">
            <span class="number" th:text ="${date3.value}"></span>
        </td>
    </tr>
    <tr>
        <td class="day" th:each="date4 : ${week4dates}">
            <span class="number" th:text ="${date4.value}"></span>
            <span class="event"></span>
        </td>
    </tr>
    <tr>
        <td class="day" th:each="date5 : ${week5dates}">
            <span class="number" th:text ="${date5.value}"></span>
        </td>
    </tr>
    <tr>
        <td class="day"><span class="number">31</span></td>
        <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
        <td class="day"><span class="number">2</span></td>
        <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
        <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span class="event"></span></td>
        <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
        <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
    </tr>
</table>

<div th:replace="fragments :: calendar-footer"></div>
</body>

</html>