<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments2 :: head"></head>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<body>
<div th:replace="fragments :: page-header"></div>

<table style="margin-top:50px">
    <tr>
        <th class="day-name">Sun</th>
        <th class="day-name">Mon</th>
        <th class="day-name">Tue</th>
        <th class="day-name">Wed</th>
        <th class="day-name">Thu</th>
        <th class="day-name">Fri</th>
        <th class="day-name">Sat</th>
<!--        .day-name { color: #FFF; background-color: rgba(0,0,0,.25) !important; }-->
    </tr>
    <tr>
        <td class="day number" th:each="date1 : ${week1dates}" >
            <span class="number" th:text ="${date1.value}"></span>
            <span>
               <ul>
                    <li th:if = "${task.setDateToIntegerOfYear(task.dateStart) <= date1.key
                    and task.setDateToIntegerOfYear(task.dateEnd) >= date1.key
                    and task.setDateToIntegerMonth(task.dateStart) >= MonthValid}" th:each="task : ${tasks}">
                        <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                    </li>
                </ul>
            </span>
        </td>
    </tr>

    <tr>
        <td class="day" th:each="date2 : ${week2dates}">
            <span class="number" th:text ="${date2.value}"></span>
            <span>
               <ul>
                    <li th:if = "${task.setDateToIntegerOfYear(task.dateStart) <= date2.key
                    and task.setDateToIntegerOfYear(task.dateEnd) >= date2.key
                    and task.setDateToIntegerMonth(task.dateStart) >= MonthValid}" th:each="task : ${tasks}">
                        <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                    </li>
                </ul>
            </span>
        </td>
    </tr>

    <tr>
        <td class="day" th:each="date3 : ${week3dates}">
            <span class="number" th:text ="${date3.value}"></span>
            <span>
               <ul>
                    <li th:if = "${task.setDateToIntegerOfYear(task.dateStart) <= date3.key
                    and task.setDateToIntegerOfYear(task.dateEnd) >= date3.key
                    and task.setDateToIntegerMonth(task.dateStart) >= MonthValid}" th:each="task : ${tasks}">
                        <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                    </li>
                </ul>
            </span>
        </td>
    </tr>

    <tr>
        <td class="day" th:each="date4 : ${week4dates}">
            <span class="number" th:text ="${date4.value}"></span>
            <span>
               <ul>
                    <li th:if = "${task.setDateToIntegerOfYear(task.dateStart) <= date4.key
                    and task.setDateToIntegerOfYear(task.dateEnd) >= date4.key
                    and task.setDateToIntegerMonth(task.dateStart) >= MonthValid}" th:each="task : ${tasks}">
                        <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                    </li>
                </ul>
            </span>
        </td>
    </tr>

    <tr>
        <td class="day" th:each="date5 : ${week5dates}">
            <span class="number" th:text ="${date5.value}"></span>
            <span>
               <ul>
                    <li th:if = "${task.setDateToIntegerOfYear(task.dateStart) <= date5.key
                    and task.setDateToIntegerOfYear(task.dateEnd) >= date5.key
                    and task.setDateToIntegerMonth(task.dateStart) >= MonthValid}" th:each="task : ${tasks}">
                        <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                    </li>
                </ul>
            </span>
        </td>
    </tr>

<!--    <tr>
        <td class="day"><span class="number">31</span></td>
        <td class="day"><span class="number">1</span><span class="event"></span><span class="event"></span></td>
        <td class="day"><span class="number">2</span></td>
        <td class="day"><span class="number">3</span><span class="event event-multiday-start"></span></td>
        <td class="day"><span class="number">4</span><span class="event event-multiday"></span><span class="event event-multiday-start eventclass" style="background-color:#5a9ab2;"></span><span class="event"></span></td>
        <td class="day"><span class="number">5</span><span class="event event-multiday-finish"></span><span class="event event-multiday eventclass" style="background-color:#5a9ab2;"></span></td>
        <td class="day"><span class="number">6</span><span class="event event-ghost"></span><span class="event event-multiday-finish eventclass" style="background-color:#5a9ab2;"></span></td>
    </tr>-->
</table>

<div th:replace="fragments :: calendar-footer"></div>
</body>

</html>