<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link th:href="@{/css/website.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class="job-listing">
        <tr th:each="task : ${tasks}">
            <td>
                <p>
                    Task Id:
                    <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.id}"></a>
                </p>
                <p>
                    Name:
                    <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                </p>
                <p th:text="${'Description: ' + task.description}"></p>
                <p>
                    Rig:
                <ul th:each="rig : ${task.rigs}" style="display: inline-block">
                    <li>
                        <a th:href="@{'/rig/view/' + ${rig.id}}" th:text="${rig.name}"></a>
                    </li>
                </ul>
                </p>
                <p>
                    Crew:
                <ul th:each="crewMember : ${task.crew}" style="display: inline-block">
                    <li>
                        <a th:href="@{'/crew/view/' + ${crewMember.id}}" th:text="${crewMember.name}"></a>
                    </li>
                </ul>
                </p>
                <p th:text="${'Start Date: ' + task.dateStart}"></p>
                <p th:text="${'Planned End Date: ' + task.dateEnd}"></p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>