<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <nav th:replace="fragments :: page-header"></nav>

        <div class="container body-content">
<!--            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
            <h2 class = "centered">View Tasks By Category</h2>
        </div>

        <table class="centeredTable">

            <tr>
                <th>All</th>
                <th>Task Name</th>
                <th>Rig</th>
                <th>Crew Member</th>
            </tr>


            <tr>
                <td>
                    <li>
                        <a th:href="@{/tasks/tasklist(column=all,value='View All')}">All Tasks</a>
                    </li>
                </td>

                <td>
                    <ul>
                        <li th:each="task : ${tasks}">
                            <a th:href="@{'/taskFiles/view/' + ${task.id}}" th:text="${task.name}"></a>
                        </li>
                    </ul>
                </td>

                <td>
                    <li th:each="rig : ${rigs}">
                        <a th:href="@{/tasks/tasklist(column=rig,value=${rig.name})}" th:text="${rig.name}"></a>
                    </li>
                </td>

                <td>
                    <li th:each="crew : ${crews}">
                        <a th:href="@{/tasks/tasklist(column=crew,value=${crew.name})}" th:text="${crew.name}"></a>
                    </li>
                </td>

            </tr>

        </table>

        <div class="container body-content">
            <h3><a th:href="@{/taskFiles/addTask}">Add Task</a></h3>
        </div>

    </body>

</html>