<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <body class="container body-content">

        <nav th:replace="fragments :: page-header"></nav>

        <form method="post" style="max-width:600px; padding-top: 80px">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" th:field="${task.name}"/>
                <span th:errors="${task.name}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="rig">Rigs</label>
                <select name="rigId">
                    <option th:each="rig : ${rigs}"
                            th:text="${rig.name}"
                            th:value="${rig.id}"></option>
                </select>
                <a th:href="@{'/rig/add'}">Add Rig</a>
            </div>

            <div class="form-group">
                <label th:for="crew">Crew</label>
                <th:block th:each="crew : ${crewList}">
                    <input type="checkbox" name="crew" th:value="${crew.id}">
                    <label th:text="${crew.name}"></label>
                </th:block>
                <a th:href="@{'/crew/add'}">Add Crew Member</a>
            </div>

            <div class="form-group">
                <label class="form-control">Start Date:</label>
                <input type = 'date' name = 'dateStart' th:field="${date.dateStart}"/>
            </div>

            <div class="form-group">
                <label class="form-control">End Date:</label>
                <input type = 'date' name = 'dateEnd' th:field="${date.dateEnd}"/>
            </div>

        </form>

    </body>
</html>