<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <body class="container body-content">

        <nav th:replace="fragments :: page-header"></nav>

        <form method="post" style="max-width:600px; padding-top: 80px">
            <div class="form-group">
                <label th:for="name">Name</label>
                <input class="form-control" th:name="name" th:field="${task.name}"/>
                <span th:errors="${task.name}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="descrip">Task Description</label>
                <input class="form-control" th:name="descrip" type="text" th:field="${task.description}"/>
                <span th:errors="${task.description}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="rigs">Rigs</label>
<!--                <select name="rigId">-->
<!--                    <option th:each="rig : ${rigs}"-->
<!--                            th:text="${rig.name}"-->
<!--                            th:value="${rig.id}"></option>-->
<!--                </select>-->
                <th:block th:each="rig : ${rigs}">
                    <input type="checkbox" th:name="rigs" th:value="${rig.id}">
                    <label th:text="${rig.name}"></label>
                </th:block>
                <a th:href="@{'/rig/add'}">Add Rig</a>
            </div>

            <div class="form-group">
                <label th:for="crew">Crew</label>
                <th:block th:each="crewMember : ${crew}">
                    <input type="checkbox" th:name="crew" th:value="${crewMember.id}">
                    <label th:text="${crewMember.name}"></label>
                </th:block>
                <a th:href="@{'/crew/add'}">Add Crew Member</a>
            </div>

            <div class="form-group">
                <label th:for="dateStartReq" class="form-control">Start Date:</label>
                <input type="text" placeholder="mm/dd/yyyy" th:name = "dateStartReq" th:field="${task.dateStart}"/>
            </div>

            <div>
                <label th:for="dateEndReq" class="form-control">End Date:</label>
                <input type="text" placeholder="mm/dd/yyyy" th:name = "dateEndReq" th:field="${task.dateEnd}"/>
            </div>

            <input type="submit" value="Add Task" />
        </form>

    </body>
</html>